# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
argus_env/
arguspip/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
local_settings.py

# Jupyter Notebook
.ipynb_checkpoints

# VS code files
*.name
*.xml
*.iml
argus_gui/__pycache__/__init__.cpython-36.pyc
build/lib/argus_gui/resources/__init__.pyc
.vscode/

# others
*.DS_Store